/* line 2, ../assets/sass/prose.scss */
.prose p, .prose ol, .prose ul, .prose dl, .prose blockquote {
  margin: 1em 0;
}
/* line 6, ../assets/sass/prose.scss */
.prose ol, .prose ul {
  overflow: hidden;
}
/* line 9, ../assets/sass/prose.scss */
.prose ol li, .prose ul li {
  display: list-item;
  margin-left: 1.5em;
}
/* line 15, ../assets/sass/prose.scss */
.prose ul li {
  list-style-type: disc;
}
/* line 19, ../assets/sass/prose.scss */
.prose ol li {
  list-style-type: decimal;
}
