.prose {
  p, ol, ul, dl, blockquote {
    margin: 1em 0;
  }
  
  ol, ul {
    overflow: hidden;
    
    li {
      display: list-item;
      margin-left: 1.5em;
    }
  }
  
  ul li {
    list-style-type: disc;
  }
  
  ol li {
    list-style-type: decimal;
  }
	
}
