/* Breakpoints */
$seed: 320px / 16px * 1em;
$seedling: 480px / 16px * 1em;
$sprout: 600px / 16px * 1em;
$sapling: 768px / 16px * 1em;
$bush: 1080px / 16px * 1em;
$tree: 1280px / 16px * 1em;
$sequoia: 1500px / 16px * 1em;
